.input {
    width: 100%;
    height: 60px;
    padding: 7px;
    font-size: 2.4rem;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: 2px solid #d8d8d8;
}

.input:focus {
    border: 2px solid #929292;
}

.invalid {
    border: 2px solid #9b1616;
    background-color: rgb(247, 157, 157);
}

.invalid:focus {
    border: 2px solid #9b1616;
}

.error {
    font-size: 1.2rem;
    color: #9b1616;
}