.button {
    border: 1px solid #fff;
    background-color: transparent;
    color: #969696;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
}

.button:not(:last-of-type) {
    margin-right: 10px;
}

.active {
    border: 1px solid #969696;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.active:hover {
    border: 1px solid #4e4e4e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.button:hover {
    color: rgb(87, 87, 87);
}

.button:active {
    color: rgb(0, 0, 0);
}