.task {
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
    cursor: pointer;
    opacity: 0.8;
}

.task:hover {
    opacity: 1;
}

.task:last-of-type {
    margin-bottom: 30px;
}

.status {
    width: 35px;
    height: 35px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 20px;
    background: transparent;
    cursor: pointer;
    position: relative;
}

.completed,
.completed:hover {
    text-decoration: line-through;
    opacity: .4;
}

.check {
    position: absolute;
    top: 6px;
    left: 5px;
}

.text {
    font-size: 2.4rem;
}